<div class = "wrapper">
    <app-toolbar></app-toolbar>

    <div fxLayout="column" fxLayoutAlign="center center" class="header">
        <p class="mat-display-2" style="font-weight: bold; margin-top: 8vh"> Despre noi </p>
        <p class="mat-title mar-top-n5" style="width: 80%; text-align: center;"> 
            IT NEWS este o platformă dedicată celor mai noi știri din lumea tehnologiei. Tehnologia este tot mai prezentă în viețile noastre, iar rapiditatea cu care apar noi produse și noi proiecte necesită o capacitate tot mai mare de înțelegere și un grad crescut de adaptabilitate. Cu scopul de a ajuta la înțelegerea noilor tehnologii vine către cei interesați proiectul nostru.
            Atât pentru generația tânără, cât și pentru cei mai în vârstă acesta este genul de site care prezintă într-o manieră ușor de înțeles cele mai noi informații din domeniul tehnologiei, astfel că ne dorim ca experiența utilizatorilor pe site-ul nostru să fie una din care aceștia să rămână cu o înțelegere corespunzătoare a actualelor tehnologii.
        </p>
        <p class="mat-display-1 mar-top-5" style="font-weight: bold;">
            Echipa noastră:
        </p>
        <div class = "div-center card-container" fxLayout="row">
            <mat-card class = "card" fxLayout="column" fxLayoutAlign="center center">
                <img mat-card-lg-image class = "image" src="assets/tudor.jpg">
                <mat-card-title style="font-size: xx-large; margin-top: 1.5vh;">Tudor Pașca</mat-card-title>
                <mat-card-subtitle style="font-size: large;">
                    Co-Fondator
                </mat-card-subtitle>
            </mat-card>
        </div>
        <p class="mat-title mar-top-n2">
            Ne puteți contacta folosind informațiile de mai jos:
        </p>
        <p class="mat-heading" style="margin-top: 0vh"> TELEFON: +40712345678 </p>
        <p class="mat-heading" style="margin-top: 0vh"> EMAIL: contact@itnews.ro </p>
        <p class="mat-heading" style="margin-top: 0vh"> LOCAȚIE SEDIU: Strada Ghirlandei 4 Timișoara , județul Timiș</p>
    </div>

    <div style="width: 100%; background-color: #f3f3f3; margin-bottom: 1vh;">
        <div class="div-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1529.2641239169552!2d21.226989777092044!3d45.74102324799574!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47455d9bc72cf253%3A0x1d31d7e5de378c28!2sStrada%20Ghirlandei%204%2C%20Timi%C8%99oara%20300231!5e0!3m2!1sro!2sro!4v1649489620210!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
