.wrapper {
    background-color: #f3f3f3;
    height: 200%;
}

.container {
    margin-top: -5vh;
}

.div-center {
    width: 40vw;
    margin: auto;
    margin-top: 5vh;
}

.mar-top-n5 {
    margin-top: -5vh;
}

.mar-top-5 {
    margin-top: 5vh;
}

.card {
    height: 48vh;
    width: 15vw;
    margin-top: -7vh;
}

.card-container {
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 40vh;
    margin-bottom: 5vh;
}
