<div class = "wrapper">
    <app-toolbar></app-toolbar>
      <div class="container">
        <div color="primary" fxLayout="column" fxLayoutAlign="center center" class="header">
          <p class="mat-display-2" style="font-weight: bold; margin-top: 3vh"> Video & Podcast </p>
          <p class="mat-title" style="margin-top: -5vh; text-align: center; width: 80%;"> 
            Vizionează video-urile și podcast-urile recomandate de echipa IT NEWS, cu cei mai influenți oameni din lumea tehnologiei.
        </p>
        </div>
      </div>
    <div class = "container" fxLayout = "column" fxLayoutAlign = "center center" style="background-color: #f3f3f3;">
        <mat-card class="video-card">
            <mat-card-title> Elon Musk: SpaceX, Mars, Tesla Autopilot, Self-Driving, Robotics, and AI | Lex Fridman Podcast #252 </mat-card-title> 
            <mat-card-subtitle> Elon Musk is CEO of SpaceX, Tesla, Neuralink, and The Boring Company. </mat-card-subtitle>
            <mat-card-content fxLayoutAlign="center center" style="height: 75%;">
                <iframe width="560" height="100%" src="https://www.youtube.com/embed/DxREm3s1scA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </mat-card-content>
        </mat-card>
        <mat-card class="video-card">
            <mat-card-title> PODCAST DE ACASĂ #14-(white)hacking, opotunități IT și cum să-ți protejezi contul cu Ramon Năstase </mat-card-title> 
            <mat-card-subtitle> PodcastDeAcasă este o serie de podcast-uri cu diferiți invitați din diferite domenii de activitate. În acest episod am avut plăcerea să îl am invitat pe specialsitul  în securitate cibernetică Ramon Năstase și am vorbit despre whitehacking, concursuri IT și cum să-ți protejezi conturile de social-media. </mat-card-subtitle>
            <mat-card-content fxLayoutAlign="center center" style="height: 65%;">
                <iframe width="560" height="100%" src="https://www.youtube.com/embed/oqVQoEnNAmo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </mat-card-content>
        </mat-card>
        <mat-card class="video-card">
            <mat-card-title> Vitalik Buterin: Ethereum 2.0 | Lex Fridman Podcast #188 </mat-card-title> 
            <mat-card-subtitle> Vitalik Buterin is the co-founder of Ethereum. </mat-card-subtitle>
            <mat-card-content fxLayoutAlign="center center" style="height: 80%;">
                <iframe width="560" height="100%" src="https://www.youtube.com/embed/XW0QZmtbjvs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- 
    <iframe width="560" height="315" src="https://www.youtube.com/embed/P5BD7BEEzUY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
-->