<div class = "wrapper">
  <app-toolbar></app-toolbar>
  
  <div style="width: 50vw; margin: auto;">
    <p class="mat-display-2 title" fxLayoutAlign="center center" style="text-align: center;"> {{ article.title }} </p>
    <p class="mat-subheading-1" fxLayoutAlign="center center" style="text-align: center; margin-top: -8vh;"> {{ article.author }} </p>
  </div>

  <div style="width: 80vw; margin: auto;">
    <img mat-card-image class="image" src="{{ article.image_url }}" alt="Article photo"/>
    <p class="mat-subheading-2" fxLayoutAlign="center center" style="margin-top: 5vh;"> {{article.content }} </p>
  </div>

  <div class="blocks addButton">
    <button button="submit" mat-raised-button style= "margin-bottom: 2vh;" color="primary" routerLink="/home">
    <mat-icon>home</mat-icon> Acasă
    </button>
</div>
</div>


<!--
  <mat-card class="container">
    <mat-card-header>
      <mat-card-title class="title">
        <h3>{{ article.title }}</h3>
      </mat-card-title>
      <mat-card-subtitle>{{ article.author }}</mat-card-subtitle>
      <mat-card-subtitle>{{ article.image_url }}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="content">{{ article.content }}</mat-card-content>
  </mat-card>
-->