.container{
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.title{
    font-size: 2vw;
}

.content{
    margin-top: 3vh;
    font-size: 1.1vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.addButton{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 5vh;
    width: 100px;
}