<app-toolbar></app-toolbar>
<mat-card class="container">
  <mat-card-header>
    <mat-card-title class="title">
      <h3>{{ article.title }}</h3>
    </mat-card-title>
    <mat-card-subtitle>{{ article.author }}</mat-card-subtitle>
    <mat-card-subtitle>{{ article.image_url }}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="content">{{ article.content }}</mat-card-content>
</mat-card>

<div class="blocks addButton">
  <button button="submit" mat-raised-button color="primary" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </button>
</div>
