<div class = "wrapper">

    <app-toolbar></app-toolbar>
    
    <div class="container">
        <div color="primary" fxLayout="column" fxLayoutAlign="center center" class="header">
            <p class="mat-display-3" style="color: white; font-weight: bold; margin-top: 6vh"> IT NEWS </p>
            <p class="mat-display-1" style="color: white"> Cele mai noi știri din domeniul tehnologiei </p>
            <p class="mat-display-1" style="color: white">
                <button mat-raised-button color="accent" class="header-button" routerLink="/newsfeed">
                    Citește mai multe
                </button>
            </p>
        </div>
    </div>

<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <p class="mat-display-1" style="font-weight: bold">Cele mai citite</p>
    <div class="articles-container">
        <mat-card routerLink='/details/{{article.key}}'
        [queryParams]="{key: article.key}" class="article" *ngFor="let article of articles">
        <mat-card-title> {{ article.title }} </mat-card-title>
        <mat-card-subtitle> {{ article.author }} </mat-card-subtitle>
        <mat-card-content class="card-content" fxLayout="column" fxLayoutAlign="center center"> 
            {{ trimText(article.content, 250) }}... 
        </mat-card-content>
    </mat-card>
</div>
</div>

<div class="container" fxLayout="column" fxLayoutAlign="center center" style="margin-bottom: 2vh">
    <button mat-raised-button *ngIf="!currentUser" color="primary" class="home-button" routerLink="/login">Autentificare</button>
    <button mat-raised-button *ngIf="!currentUser" color="primary" class="home-button" routerLink="/register">Înregistrare</button>
    <button mat-raised-button color = "primary" class = "home-button" routerLink="/about">Despre noi</button>
</div>
</div>

<!-- 
    <mat-card class="card">
        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="center center" class = "title">
            <h2>IT NEWS</h2>
        </mat-card-title>
        <mat-card-subtitle>
            IT News posts the latest news regarding the world of tech. Take a look at our content about crypto, the blockchain and more by accessing the news section.
            <div fxLayout="column" fxLayoutAlign="center center">
                <button mat-raised-button color="primary" class="home-button" routerLink="/newsfeed">News</button>
                <button mat-raised-button *ngIf="!currentUser" color="primary" class="home-button" routerLink="/login">Login</button>
                <button mat-raised-button *ngIf="!currentUser" color="primary" class="home-button" routerLink="/register">Register</button>
            </div>
        </mat-card-subtitle>
    </mat-card>
    <div class="container main-container" *ngIf="currentUser && postList.length">
        <div fxLayout="row" fxLayoutAlign="center center" class="content">
            <mat-card class="card">
                <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" class = "title">
                    <h3>Favourite</h3>
                </mat-card-title>
                <mat-card-content>
                    <div class="example-container mat-elevation-z8">
                        <mat-table #table [dataSource]="postList">
                            <ng-container matColumnDef="date_posted">
                                <mat-header-cell *matHeaderCellDef> Date Posted </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.date_posted | date: 'd/M/y'}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="title">
                                <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="category">
                                <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
                            </ng-container>
                        <ng-container matColumnDef="open">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <a  routerLink='/details/{{currentUser.uid}}/{{element.$key}}'
                                [queryParams]="{uid: currentUser.uid, $key: element.$key}">
                                <mat-icon class="icon">open_in_full</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <a (click)="deletePost(element.$key)" type="button">
                                <mat-icon class="icon">delete</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="edit">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <a (click)="editPost(element.$key)" type="button">
                                <mat-icon class="icon">edit</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="blocks addButton" *ngIf="currentUser">
    <button button="submit" mat-raised-button color="primary" (click)="addPost()">
        <mat-icon>add</mat-icon> Add Post
    </button>
</div>
-->
