.card {
  width: 75%;
  margin-top: 2vh;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

a {
  cursor: pointer;
}

.addButton{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 100px;
}

.main-container{
  margin-top: 5vh;
}

.title{
  font-size: xx-large;
}

.mat-card-subtitle{
  font-size: xx-large;
  color: black;
}

.home-button{
  width: 50%;
  height: 7vh;
  font-size: large;
  margin-top: 3vh;
}