.mat-table {
  overflow: auto;
  max-height: 500px;
}

a {
  cursor: pointer;
}

.addButton {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 100px;
}

.container {
  margin-top: 5vh;
}

.home-button {
  width: 20%;
  height: 7vh;
  font-size: large;
  margin-top: 3vh;
}

.header-button {
  width: 15vw;
  height: 6vh;
  font-size: x-large;
  margin-top: 1vh;
}

.header {
  margin-top: -5vh;
  height: 60vh;
  background-color: #7e57c2;
}

.articles-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
  margin-top: -2vh;
  margin-bottom: 2vh;
}

.article {
  height: 40vh;
  width: 20vw;
}

.card-content {
  display: flex;
  flex-direction: column;
}