.card {
  min-width: 80%;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

a {
  cursor: pointer;
}

.addButton{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 100px;
}

.main-container{
  margin-top: 5vh;
}

.title{
  font-size: xx-large;
}

.mat-card-subtitle{
  font-size: x-large;
  color: black;
}