<app-navbar></app-navbar>
<mat-card class="container">
    <mat-card-header>
        <mat-card-title>
            <h3 class="title">Register</h3>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <form class="example-form">
            <mat-form-field>
                <input matInput placeholder="Email" type="email" required [(ngModel)]="credentials.email" name="email"
                    ngModel email="true">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" type="password" required [(ngModel)]="credentials.password"
                    name="password">
            </mat-form-field>
        </form>
        <mat-checkbox class="checkbox" id="checkbox" [(ngModel)]="checked">Keep me logged in</mat-checkbox>
        <div>
            If you have an existing account, 
            <a routerLink='/login'>login</a>
            now
        </div>
        <div *ngIf="error" class = "error">
            {{error}}
        </div>
    </mat-card-content>
    <div mat-card-actions class = "buttons">
        <button mat-raised-button class ="submit" type="submit" color="primary" (click)="onSubmit()" [disabled]="!isValid()">Create</button>
        <button mat-raised-button class="return" color="warn" routerLink='/home'>Return</button>
    </div>
</mat-card>